<footer class="site-footer">
  <h2>Follow me</h2>
    <ul class="contact-list">
      <li>
          <a href="https://github.com/patrick-michelberger/" target="_blank">
              <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://facebook.com/patrick.michelberger" target="_blank">
              <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://www.xing.com/profile/Patrick_Michelberger2" target="_blank">
              <i class="fa fa-xing"></i>
          </a>
        </li>
        <li>
          <a href="https://de.linkedin.com/in/patrickmichelberger" target="_blank">
              <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </div>
    </ul>
</footer>
