<!--<header class="site-header">
  <div class="container-fluid">
    <nav class="site-nav">
        {% if page.url == "/" %}
          <a class="page-link current" href="/">About Me</a>
        {% else %}
          <a class="page-link" href="/">About Me</a>
        {% endif %}
        {% for node in site.pages %}
          {% if node.title %}
              {% if node.url == page.url %}
                <a class="page-link current" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
              {% else %}
                <a class="page-link" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
              {% endif %}
          {% endif %}
        {% endfor %}
    </nav>
  </div>
</header>

-->
<header class="pm-header">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        {% if page.url == "/" %}
          <li><a class="active" href="/">About Me</a></li>
        {% else %}
          <li><a  href="/">About Me</a></li>
        {% endif %}
          <li><a  target="_blank" href="https://medium.com/@patrickmichelberger">My Blog</a></li>
        {% for node in site.pages %}
          {% if node.title %}
              {% if node.url == page.url %}
                <li><a class="active" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
              {% else %}
                <li><a class="page-link" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
              {% endif %}
          {% endif %}
        {% endfor %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
