#pm_blog h2,
#pm_blog h3 {
    font-family: 'Amatic SC', cursive
}

#pm_blog h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
}

#pm_blog h2 a {
    color: black;
}

#pm_blog h3 {
    margin-top: 20px;
    font-size: 28px;
}

#pm_blog h4 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

#pm_blog img {
    margin: 25px 0;
}
