/**
 * Homepage styles
 */

#pm_description {
	margin-bottom: 15px;
    text-align: center;
}

#pm_description h1 {
    margin-top: 60px;
}

#pm_description .pm_social_profiles {
    text-align: center;
    font-size: 1.5em;
}

#pm_description .pm_contact-btn {
	margin-top: 10px;
}
