.home {
  .pm-section-about {
    background: linear-gradient(-20deg,transparent 0,transparent 35%,#f7f7f7 35%,#f7f7f7 65%,transparent 65%,transparent 100%),#fff;
  }

  .pm-contact-email {
    color: white;
    padding: 15px 25px;
    border: 4px solid white;
    top: 25px;
    position: relative;
  }

  .pm-hero {
    background-image: linear-gradient(90deg, #232526, #fff), url("/images/website-cover.png");
    background-size: cover;
    background-color: white;
    background-blend-mode: multiply, luminosity;
    background-position: right top;
    height: 100vh;
    opacity: 0.9;

    display: flex;
    align-items: center;
    justify-content: left;

    .pm-intro {

    }

    h1 {
      font-size: 90px;
      line-height: 90px;
      letter-spacing: 1.41px;
      word-spacing: 1px;
      margin-bottom: 45px;
    }

    p {
      text-align: left;
    }
  }

  .image-container {
    position: relative;
    height: 450px;

    .image-profile {
      position: absolute;
      right: 0;
      background: #4502da;
      padding-bottom: 10px;
      bottom: 0;
    }

    .image-background {
      position: absolute;
      right: 0;
      bottom: 0;
      background: #4502da;
      height: 450px;
      width: 250px;
    }
  }

}

@media (max-width: 1024px) {
  .home {
    .pm-hero {
      padding: 100px 30px 30px 30px;
      height: 100vh;

      h2 {
        font-size: 42px;
        line-height: 42px;
      }
    }

    h2 {
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: .6px;
      margin-bottom: 45px;
    }


      .pm-contact-email {
        font-size: 18px;
      }
  }
}
