/**
 * Homepage styles
 */

#pm_description {
	margin-bottom: 15px;
}

#pm_description h1 {
    margin-top: 40px;
    text-align: center;
}

#pm_description .pm_social_profiles {
    text-align: center;
    font-size: 2em;
}
