#pm_projects iframe {
	left: 50%;
	margin-left: -150px!important;
	margin-top: 45px!important;
	position: absolute;
	margin-top: -15px;
    -ms-zoom: 0.60;
    -moz-transform: scale(0.60);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.60);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.60);
    -webkit-transform-origin: 0 0;
}


#pm_projects {

	.pm-hero {
		p {
			text-align: center;
		}
		a {
			color: white;
		}
	}

	h2 {
		font-size: 30px!important;
		line-height: 30px;
	}

	.headline-about-looks {
		display: inline-block;
		margin-left: 20px;
		font-weight: normal;
	}
}

#pm_projects .media-left {
	padding-right: 35px!important;
}
